.container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  padding-bottom: 8rem;
  align-items: center;
  background-color: #5B3F68;
  background-image: url('/images/startscreen.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


