.container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  padding-bottom: 8rem;
  align-items: center;
  background-color: #5B3F68;
  background-image: url('/images/startscreen.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.guestLink {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guestLink a {
    color: #ffffff;
    text-decoration: underline;
}

.guestLink a:hover {
    color: #e0e0e0;
}

.termsOfService {
    display: flex;
    justify-content: flex-end;
    font-size: 0.875rem;
    text-align: center;
    max-width: 300px;
}


