.button {
  width: 13rem;
  height: 3rem;
  border: none;
  border-radius: 2rem;
  background-color: #ffffff;
  color: #000000;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #535bf2;
}
